.wave-footer-wrapper {
  width: 100%;
  overflow-x: hidden;
  line-height: 0; 
}

.wave-footer-svg {
  width: 100%;
  display: block;
}

.arrow {
  stroke-width: 0.3px;
  stroke: #F5F0E8;
}

.topball {
  animation: ball 1.5s ease-in-out infinite alternate 0.3s;
  cursor: pointer;
}

.wave {
  animation: wave 3s linear infinite;
  fill: #215F47;
}

.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #215F47;
  stroke-width: 0.5;
  opacity: 0.6;
  transform: translateY(80%);
}

.drop1 {
  transform-origin: 20px 3px;
}

.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
  transform-origin: 25px 3px;
}

.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
  transform-origin: 16px 3px;
}

.gooeff {
  filter: url(#goo);
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}

#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}

@keyframes drop {
  0%, 80% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

@keyframes ball {
  to {
    transform: translateY(20%);
  }
}